<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ✅ REQUIRED FOR FIREBASE -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bloodbank">

        <!-- LOGIN (LAUNCHER) -->
        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FORGOT PASSWORD -->
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />

        <!-- REGISTER -->
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />

        <!-- EDIT PROFILE -->
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false" />

        <!-- EDIT DONATION -->
        <activity
            android:name=".view.EditDonationActivity"
            android:exported="false" />

        <!-- DASHBOARD -->
        <activity
            android:name=".view.DashboardActivity"
            android:exported="false" />

        <!-- OTHER SCREENS -->
        <activity
            android:name=".view.LandingpageActivity"
            android:exported="false" />

    </application>

</manifest>
